<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Transha Stays - PG Room Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="admin-css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="admin-css/animation.css">
    <link rel="stylesheet" type="text/css" href="admin-css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="admin-css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="admin-css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Font -->
    <link rel="stylesheet" href="admin-font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="admin-icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="img/transha/logo.jpeg">
    <link rel="apple-touch-icon-precomposed" href="img/transha/logo.jpeg">

</head>

<body class="body">

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
            <div class="layout-wrap loader-off">
                <!-- preload -->
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                <!-- /preload -->
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="/dashboard" id="site-logo-inner">
                            <img style="width:60px;" id="logo_header" alt="logo" src="img/transha/logo.png"
                                data-light="img/transha/logo.png" data-dark="img/transha/logo.png">
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-chevron-left"></i>
                        </div>
                    </div>
                    <div class="section-menu-left-wrap">
                        <div class="center">
                            <div class="center-item">
                                <ul>
                                    <li class="menu-item ">
                                        <a href="/dashboard">
                                            <div class="icon">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M12.2652 3.57566C12.1187 3.42921 11.8813 3.42921 11.7348 3.57566L5.25 10.0605V19.8748C5.25 20.0819 5.41789 20.2498 5.625 20.2498H9V16.1248C9 15.0893 9.83947 14.2498 10.875 14.2498H13.125C14.1605 14.2498 15 15.0893 15 16.1248V20.2498H18.375C18.5821 20.2498 18.75 20.0819 18.75 19.8748V10.0605L12.2652 3.57566ZM20.25 11.5605L21.2197 12.5302C21.5126 12.8231 21.9874 12.8231 22.2803 12.5302C22.5732 12.2373 22.5732 11.7624 22.2803 11.4695L13.3258 2.51499C12.5936 1.78276 11.4064 1.78276 10.6742 2.515L1.71967 11.4695C1.42678 11.7624 1.42678 12.2373 1.71967 12.5302C2.01256 12.8231 2.48744 12.8231 2.78033 12.5302L3.75 11.5605V19.8748C3.75 20.9104 4.58947 21.7498 5.625 21.7498H18.375C19.4105 21.7498 20.25 20.9104 20.25 19.8748V11.5605ZM13.5 20.2498H10.5V16.1248C10.5 15.9177 10.6679 15.7498 10.875 15.7498H13.125C13.3321 15.7498 13.5 15.9177 13.5 16.1248V20.2498Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Admin Dashboard</div>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/admin-resort" class="menu-item-button">
                                            <div class="icon"><i class="icon-layers"></i></div>
                                            <div class="text">Apartments Management</div>
                                        </a>

                                    </li>
                                    <li class="menu-item active ">
                                        <a href="/admin-pg" class="menu-item-button">
                                            <div class="icon"><i class="icon-home"></i></div>
                                            <div class="text">PG Management</div>
                                        </a>

                                    </li>
                                    <li class="menu-item  ">
                                        <a href="/admin-booking" class="menu-item-button">
                                            <div class="icon"><i class="icon-layers"></i></div>
                                            <div class="text">Booking Management</div>
                                        </a>

                                    </li>
                                    <li class="menu-item  ">
                                        <a href="/admin-mainbanner" class="menu-item-button">
                                            <div class="icon"><i class="icon-layers"></i></div>
                                            <div class="text">Banner Management</div>
                                        </a>

                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin-testimonials" class="menu-item-button">
                                            <div class="icon"><i class="fa fa-star-o"></i></div>
                                            <div class="text">Testimonials Management</div>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/admin-blogs" class="menu-item-button">
                                            <div class="icon"><i class="icon-book-open"></i></div>
                                            <div class="text">Blogs Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/logout">
                                            <div class="icon">
                                                <svg width="24" height="22" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8.125 18.6875C8.125 18.903 8.0394 19.1097 7.88702 19.262C7.73465 19.4144 7.52799 19.5 7.3125 19.5H1.625C1.19402 19.5 0.780698 19.3288 0.475951 19.024C0.171205 18.7193 0 18.306 0 17.875V1.625C0 1.19402 0.171205 0.780698 0.475951 0.475951C0.780698 0.171205 1.19402 0 1.625 0H7.3125C7.52799 0 7.73465 0.0856026 7.88702 0.237976C8.0394 0.390349 8.125 0.597012 8.125 0.8125C8.125 1.02799 8.0394 1.23465 7.88702 1.38702C7.73465 1.5394 7.52799 1.625 7.3125 1.625H1.625V17.875H7.3125C7.52799 17.875 7.73465 17.9606 7.88702 18.113C8.0394 18.2653 8.125 18.472 8.125 18.6875ZM19.2623 9.17516L15.1998 5.11266C15.0474 4.9602 14.8406 4.87455 14.625 4.87455C14.4094 4.87455 14.2026 4.9602 14.0502 5.11266C13.8977 5.26511 13.812 5.47189 13.812 5.6875C13.812 5.90311 13.8977 6.10989 14.0502 6.26234L16.7263 8.9375H7.3125C7.09701 8.9375 6.89035 9.0231 6.73798 9.17548C6.5856 9.32785 6.5 9.53451 6.5 9.75C6.5 9.96549 6.5856 10.1722 6.73798 10.3245C6.89035 10.4769 7.09701 10.5625 7.3125 10.5625H16.7263L14.0502 13.2377C13.8977 13.3901 13.812 13.5969 13.812 13.8125C13.812 14.0281 13.8977 14.2349 14.0502 14.3873C14.2026 14.5398 14.4094 14.6255 14.625 14.6255C14.8406 14.6255 15.0474 14.5398 15.1998 14.3873L19.2623 10.3248C19.3379 10.2494 19.3978 10.1598 19.4387 10.0611C19.4796 9.9625 19.5006 9.85678 19.5006 9.75C19.5006 9.64322 19.4796 9.5375 19.4387 9.43886C19.3978 9.34023 19.3379 9.25062 19.2623 9.17516Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Log out</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /section-menu-left -->
                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">
                                <a href="/dashboard">
                                    <img style="width: 50px;" id="logo_header_mobile" alt="" src="img/transha/logo.png"
                                        data-light="img/transha/logo.png" data-dark="img/transha/logo.png">
                                </a>
                                <div class="button-show-hide">
                                    <i class="icon-chevron-left"></i>
                                </div>

                            </div>
                            <div class="header-grid">
                                <div class="header-item button-dark-light">
                                    <i class="icon-moon"></i>
                                </div>


                                <div class="header-item button-zoom-maximize">
                                    <div class="">
                                        <i class="icon-maximize"></i>
                                    </div>
                                </div>
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="image">
                                                    <img src="img/transha/logo.png" alt="">
                                                </span>
                                                <span class="flex flex-column">
                                                    <span class="body-text text-main-dark">Transha Stays</span>
                                                    <span class="text-tiny">Admin</span>
                                                </span>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end has-content"
                                            aria-labelledby="dropdownMenuButton3">

                                            <li>
                                                <a href="#" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-headphones"></i>
                                                    </div>
                                                    <div class="body-title-2">Support</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/logout" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-log-out"></i>
                                                    </div>
                                                    <div class="body-title-2">Log out</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- main-content-wrap -->
                        <div class="main-content-inner">

                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <h4>Paying Guest Listings</h4>
                                <!-- Button trigger modal for Create -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createPgModal">
                                    <i class="icon-plus"></i> Add New PG
                                </button>
                            </div>

                            <% if (Array.isArray(payingGuests) && payingGuests.length > 0) { %>
                                <div class="row g-4">
                                    <% payingGuests.forEach(function(pg) { %>
                                        <div class="col-md-4">
                                            <div class="card h-100 shadow-sm">
                                                <% if (Array.isArray(pg.images) && pg.images.length > 0) { %>
                                                    <img src="<%= pg.images[0] %>" class="card-img-top" alt="PG Image" style="height:200px; object-fit:cover;">
                                                <% } else { %>
                                                    <div style="height:200px; background:#f2f2f2; display:flex; align-items:center; justify-content:center;" class="card-img-top">
                                                        <span class="text-muted">No Image</span>
                                                    </div>
                                                <% } %>
                                                <div class="card-body d-flex flex-column">
                                                    <h5 class="card-title"><%= pg.title %></h5>
                                                    <div class="mb-2">
                                                        <i class="icon-map-pin"></i>
                                                        <%= pg.location && pg.location.address ? pg.location.address : '' %>
                                                        <% if (pg.location && pg.location.city) { %>, <%= pg.location.city %><% } %>
                                                        <% if (pg.location && pg.location.state) { %>, <%= pg.location.state %><% } %>
                                                        <% if (pg.location && pg.location.pincode) { %> - <%= pg.location.pincode %><% } %>
                                                    </div>
                                                    <small class="text-muted">Created <%= pg.createdAt ? (new Date(pg.createdAt)).toLocaleDateString() : '' %></small>
                                                    <div class="mt-2 mb-2">
                                                        <% if (Array.isArray(pg.images) && pg.images.length > 1) { %>
                                                            <div class="d-flex flex-wrap gap-1">
                                                                <% pg.images.slice(1).forEach(function(img) { %>
                                                                    <img src="<%= img %>" alt="Add Img" style="width:38px;height:38px;object-fit:cover;border-radius:4px;">
                                                                <% }) %>
                                                            </div>
                                                        <% } %>
                                                    </div>
                                                    <div class="mt-auto mb-2">
                                                        <% if (pg.isAvailable) { %>
                                                            <span class="badge bg-success">Available</span>
                                                        <% } else { %>
                                                            <span class="badge bg-danger">Not Available</span>
                                                        <% } %>
                                                    </div>
                                                    <div class="d-flex gap-2 flex-wrap">
                                                        <!-- Edit button triggers edit modal and populates with PG data -->
                                                        <button type="button" class="btn btn-sm btn-warning open-edit-modal" 
                                                            data-pg='<%- JSON.stringify(pg) %>' 
                                                            data-bs-toggle="modal" data-bs-target="#editPgModal">
                                                            <i class="icon-edit"></i> Edit
                                                        </button>
                                                        <!-- Delete button triggers delete modal -->
                                                        <button type="button" class="btn btn-sm btn-danger open-delete-modal" 
                                                            data-id="<%= pg._id %>" data-title="<%= pg.title %>"
                                                            data-bs-toggle="modal" data-bs-target="#deletePgModal">
                                                            <i class="icon-trash"></i> Delete
                                                        </button>
                                                        <form class="pg-availability-form" data-id="<%= pg._id %>" data-available="<%= pg.isAvailable %>" style="display:inline;">
                                                            <% if (pg.isAvailable) { %>
                                                                <button type="submit" class="btn btn-sm btn-secondary">Mark as Unavailable</button>
                                                            <% } else { %>
                                                                <button type="submit" class="btn btn-sm btn-success">Mark as Available</button>
                                                            <% } %>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            <% } else { %>
                                <div class="alert alert-info">
                                    No Paying Guest records found.
                                </div>
                            <% } %>

                            <!-- CREATE PG MODAL -->
                            <div class="modal fade" id="createPgModal" tabindex="-1" aria-labelledby="createPgModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <form class="modal-content" id="createPgForm" enctype="multipart/form-data">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="createPgModalLabel">Add New Paying Guest</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label class="form-label">Title</label>
                                                <input type="text" class="form-control" name="title" required placeholder="PG Title">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Address</label>
                                                <input type="text" class="form-control" name="address" required placeholder="Address">
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 mb-3">
                                                    <label class="form-label">City</label>
                                                    <input type="text" class="form-control" name="city" placeholder="City">
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label class="form-label">State</label>
                                                    <input type="text" class="form-control" name="state" placeholder="State">
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label class="form-label">Pincode</label>
                                                    <input type="text" class="form-control" name="pincode" placeholder="Pincode">
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Images</label>
                                                <input type="file" class="form-control" name="images" multiple accept="image/*">
                                            </div>
                                            <div class="mb-3 form-check">
                                                <input type="checkbox" class="form-check-input" name="isAvailable" id="createIsAvailable" checked>
                                                <label class="form-check-label" for="createIsAvailable">Available</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" id="createPgSubmitBtn">Create PG</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /CREATE PG MODAL -->

                            <!-- EDIT PG MODAL -->
                            <div class="modal fade" id="editPgModal" tabindex="-1" aria-labelledby="editPgModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <form class="modal-content" id="editPgForm" enctype="multipart/form-data">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editPgModalLabel">Edit Paying Guest</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" name="_id" id="editPgId">
                                            <div class="mb-3">
                                                <label class="form-label">Title</label>
                                                <input type="text" class="form-control" name="title" id="editPgTitle" required>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Address</label>
                                                <input type="text" class="form-control" name="address" id="editPgAddress" required>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 mb-3">
                                                    <label class="form-label">City</label>
                                                    <input type="text" class="form-control" name="city" id="editPgCity">
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label class="form-label">State</label>
                                                    <input type="text" class="form-control" name="state" id="editPgState">
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label class="form-label">Pincode</label>
                                                    <input type="text" class="form-control" name="pincode" id="editPgPincode">
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Images <small>(Upload to replace/add)</small></label>
                                                <input type="file" class="form-control" name="images" multiple accept="image/*">
                                                <div id="editPgImagesPreview" class="d-flex flex-wrap gap-1 mt-2"></div>
                                            </div>
                                            <div class="mb-3 form-check">
                                                <input type="checkbox" class="form-check-input" name="isAvailable" id="editIsAvailable">
                                                <label class="form-check-label" for="editIsAvailable">Available</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" id="editPgSubmitBtn">Save Changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /EDIT PG MODAL -->

                            <!-- DELETE PG MODAL -->
                            <div class="modal fade" id="deletePgModal" tabindex="-1" aria-labelledby="deletePgModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <form class="modal-content" id="deletePgForm">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deletePgModalLabel">Delete Paying Guest</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" name="_id" id="deletePgId">
                                            <p>Are you sure you want to delete <strong id="deletePgTitle"></strong>? This cannot be undone.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger" id="deletePgSubmitBtn">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /DELETE PG MODAL -->

<script>
(function() {
    // Utility for loading state
    function setButtonLoading(btn, isLoading, loadingText) {
        if (!btn) return;
        if (isLoading) {
            btn._originalText = btn.innerHTML;
            btn.disabled = true;
            btn.innerHTML = `<span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>${loadingText || btn.textContent}`;
        } else {
            if (btn._originalText) btn.innerHTML = btn._originalText;
            btn.disabled = false;
        }
    }

    // Robust reload that also POSTs a GET to force server render (avoids .reload)
    function robustReload() {
        // Use GET to main page - never cache only this session
        window.location.replace('/admin-pg?ts=' + Date.now());
    }

    // Listen for modal triggers for EDIT and prefill form
    document.querySelectorAll('.open-edit-modal').forEach(function(btn) {
        btn.addEventListener('click', function() {
            var pg = btn.getAttribute('data-pg');
            pg = JSON.parse(pg);
            document.getElementById('editPgId').value = pg._id;
            document.getElementById('editPgTitle').value = pg.title || '';
            document.getElementById('editPgAddress').value = (pg.location && pg.location.address) ? pg.location.address : '';
            document.getElementById('editPgCity').value = (pg.location && pg.location.city) ? pg.location.city : '';
            document.getElementById('editPgState').value = (pg.location && pg.location.state) ? pg.location.state : '';
            document.getElementById('editPgPincode').value = (pg.location && pg.location.pincode) ? pg.location.pincode : '';
            document.getElementById('editIsAvailable').checked = !!pg.isAvailable;
            
            // Images preview
            var imgDiv = document.getElementById('editPgImagesPreview');
            imgDiv.innerHTML = '';
            if (Array.isArray(pg.images)) {
                pg.images.forEach(function(src) {
                    var img = document.createElement('img');
                    img.src = src;
                    img.style.width = "46px";
                    img.style.height = "46px";
                    img.style.objectFit = "cover";
                    img.style.borderRadius = "5px";
                    imgDiv.appendChild(img);
                });
            }
        });
    });

    // Listen for modal triggers for Delete
    document.querySelectorAll('.open-delete-modal').forEach(function(btn) {
        btn.addEventListener('click', function() {
            var id = btn.getAttribute('data-id');
            var title = btn.getAttribute('data-title');
            document.getElementById('deletePgId').value = id;
            document.getElementById('deletePgTitle').textContent = title || '';
        });
    });

    // Delete PG
    document.getElementById('deletePgForm').addEventListener('submit', function(e) {
        e.preventDefault();
        var btn = document.getElementById('deletePgSubmitBtn');
        setButtonLoading(btn, true, 'Deleting...');
        var id = document.getElementById('deletePgId').value;
        fetch('/delete-pg/' + id, {
            method: 'DELETE',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'Accept': 'application/json'
            }
        })
        .then(res => {
            if (res.ok) return res.json();
            throw new Error('Delete failed');
        })
        .then(data => {
            if (data.success) {
                // Close modal
                try {
                    var modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('deletePgModal'));
                    modal.hide();
                } catch(e) {}
                setTimeout(robustReload, 400);
            } else {
                setButtonLoading(btn, false);
                window.location.reload();
            }
        })
        .catch((err) => {
            setButtonLoading(btn, false);
            alert('Error deleting PG. Check server log.');
        });
    });

    // Create PG
    // Handle Create PG via modal
    document.getElementById('createPgForm').addEventListener('submit', function(e) {
        e.preventDefault();
        var form = e.target;
        var btn = document.getElementById('createPgSubmitBtn');
        setButtonLoading(btn, true, 'Creating...');
        var formData = new FormData(form);
        var checked = form.querySelector('[name="isAvailable"]').checked;
        formData.set('isAvailable', checked);

        // Build location object JSON  
        var location = {
            address: form.querySelector('[name="address"]').value,
            city: form.querySelector('[name="city"]').value,
            state: form.querySelector('[name="state"]').value,
            pincode: form.querySelector('[name="pincode"]').value
        };
        formData.append('location', JSON.stringify(location));

        fetch('/create-pg', {
            method: 'POST',
            body: formData
        })
        .then(res => {
            if (res.ok) return res.json();
            throw new Error('Create failed');
        })
        .then(data => {
            if (data.success) {
                window.location.reload();
            } else {
                setButtonLoading(btn, false);
                window.location.reload();
            }
        })
        .catch(() => {
            setButtonLoading(btn, false);
            alert('Error creating PG');
        });
    });

    // Handle Edit PG via modal
    document.getElementById('editPgForm').addEventListener('submit', function(e) {
        e.preventDefault();
        var form = e.target;
        var btn = document.getElementById('editPgSubmitBtn');
        setButtonLoading(btn, true, 'Saving...');
        var id = document.getElementById('editPgId').value;
        var formData = new FormData(form);
        // Construct "isAvailable" value
        var checked = form.querySelector('[name="isAvailable"]').checked;
        formData.set('isAvailable', checked);

        // Build location object JSON
        var location = {
            address: form.querySelector('[name="address"]').value,
            city: form.querySelector('[name="city"]').value,
            state: form.querySelector('[name="state"]').value,
            pincode: form.querySelector('[name="pincode"]').value
        };
        formData.append('location', JSON.stringify(location));

        fetch('/update-pg/' + id, {
            method: 'PUT',
            body: formData
        })
        .then(res => {
            if (res.ok) return res.json();
            throw new Error('Edit failed');
        })
        .then(data => {
            if (data.success) {
                window.location.reload();
            } else {
                setButtonLoading(btn, false);
                window.location.reload();
            }
        })
        .catch(() => {
            setButtonLoading(btn, false);
            alert('Error updating PG');
        });
    });

    // Handle Update Availability
    document.querySelectorAll('.pg-availability-form').forEach(function(form) {
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            var btn = form.querySelector('button[type="submit"]');
            setButtonLoading(btn, true, 'Updating...');
            var id = this.getAttribute('data-id');
            var isAvailable = this.getAttribute('data-available') !== 'true' ? true : false;
            fetch('/update-pg/' + id + '/availability', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({ isAvailable: isAvailable })
            })
            .then(res => {
                if (res.ok) return res.json();
                throw new Error('Update failed');
            })
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    setButtonLoading(btn, false);
                    window.location.reload();
                }
            })
            .catch(() => {
                setButtonLoading(btn, false);
                alert('Error updating availability');
            });
        });
    });
})();
</script>
                        <!-- /bottom-page -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

    <!-- <script>
        function updateLimit(select) {
            const limit = select.value;
            const url = new URL(window.location);
            url.searchParams.set('limit', limit);
            window.location.href = url.toString();
        }
    </script> -->
    <!-- Javascript -->
    <script src="admin-js/jquery.min.js"></script>
    <script src="admin-js/bootstrap.min.js"></script>
    <script src="admin-js/bootstrap-select.min.js"></script>
    <script src="admin-js/zoom.js"></script>
    <script src="admin-js/switcher.js"></script>
    <script defer src="admin-js/theme-settings.js"></script>
    <script defer src="admin-js/main.js"></script>

</body>

</html>

</html>