<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Transha Stayss - Admin Packages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="admin-css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="admin-css/animation.css">
    <link rel="stylesheet" type="text/css" href="admin-css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="admin-css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="admin-css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Font -->
    <link rel="stylesheet" href="admin-font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="admin-icon/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="img/transha/logo.jpeg">
    <link rel="apple-touch-icon-precomposed" href="img/transha/logo.jpeg">
   
</head>

<body class="body">

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
            <div class="layout-wrap loader-off">
                <!-- preload -->
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                <!-- /preload -->
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="/dashboard" id="site-logo-inner">
                            <img style="width:60px;" id="logo_header" alt="logo" src="img/transha/logo.png"
                                data-light="img/transha/logo.png" data-dark="img/transha/logo.png">
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-chevron-left"></i>
                        </div>
                    </div>
                    <div class="section-menu-left-wrap">
                        <div class="center">
                            <div class="center-item">
                                <ul>
                                    <li class="menu-item">
                                        <a href="/dashboard">
                                            <div class="icon">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M12.2652 3.57566C12.1187 3.42921 11.8813 3.42921 11.7348 3.57566L5.25 10.0605V19.8748C5.25 20.0819 5.41789 20.2498 5.625 20.2498H9V16.1248C9 15.0893 9.83947 14.2498 10.875 14.2498H13.125C14.1605 14.2498 15 15.0893 15 16.1248V20.2498H18.375C18.5821 20.2498 18.75 20.0819 18.75 19.8748V10.0605L12.2652 3.57566ZM20.25 11.5605L21.2197 12.5302C21.5126 12.8231 21.9874 12.8231 22.2803 12.5302C22.5732 12.2373 22.5732 11.7624 22.2803 11.4695L13.3258 2.51499C12.5936 1.78276 11.4064 1.78276 10.6742 2.515L1.71967 11.4695C1.42678 11.7624 1.42678 12.2373 1.71967 12.5302C2.01256 12.8231 2.48744 12.8231 2.78033 12.5302L3.75 11.5605V19.8748C3.75 20.9104 4.58947 21.7498 5.625 21.7498H18.375C19.4105 21.7498 20.25 20.9104 20.25 19.8748V11.5605ZM13.5 20.2498H10.5V16.1248C10.5 15.9177 10.6679 15.7498 10.875 15.7498H13.125C13.3321 15.7498 13.5 15.9177 13.5 16.1248V20.2498Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Admin Dashboard</div>
                                        </a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="/admin-resort" class="menu-item-button">
                                            <div class="icon"><i class="icon-file-plus"></i></div>
                                            <div class="text">Resort Management</div>
                                        </a>

                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin-pg" class="menu-item-button">
                                            <div class="icon"><i class="icon-layers"></i></div>
                                            <div class="text">pg Management</div>
                                        </a>

                                    </li>
                                    <li class="menu-item  active">
                                        <a href="/admin-booking" class="menu-item-button">
                                            <div class="icon"><i class="icon-layers"></i></div>
                                            <div class="text">Booking Management</div>
                                        </a>

                                    </li>

                                    <li class="menu-item">
                                        <a href="/admin-testimonials" class="menu-item-button">
                                            <div class="icon"><i class="fa fa-star-o"></i></div>
                                            <div class="text">Testimonials Management</div>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/admin-blogs" class="menu-item-button">
                                            <div class="icon"><i class="icon-book-open"></i></div>
                                            <div class="text">Blogs Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/logout">
                                            <div class="icon">
                                                <svg width="24" height="22" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8.125 18.6875C8.125 18.903 8.0394 19.1097 7.88702 19.262C7.73465 19.4144 7.52799 19.5 7.3125 19.5H1.625C1.19402 19.5 0.780698 19.3288 0.475951 19.024C0.171205 18.7193 0 18.306 0 17.875V1.625C0 1.19402 0.171205 0.780698 0.475951 0.475951C0.780698 0.171205 1.19402 0 1.625 0H7.3125C7.52799 0 7.73465 0.0856026 7.88702 0.237976C8.0394 0.390349 8.125 0.597012 8.125 0.8125C8.125 1.02799 8.0394 1.23465 7.88702 1.38702C7.73465 1.5394 7.52799 1.625 7.3125 1.625H1.625V17.875H7.3125C7.52799 17.875 7.73465 17.9606 7.88702 18.113C8.0394 18.2653 8.125 18.472 8.125 18.6875ZM19.2623 9.17516L15.1998 5.11266C15.0474 4.9602 14.8406 4.87455 14.625 4.87455C14.4094 4.87455 14.2026 4.9602 14.0502 5.11266C13.8977 5.26511 13.812 5.47189 13.812 5.6875C13.812 5.90311 13.8977 6.10989 14.0502 6.26234L16.7263 8.9375H7.3125C7.09701 8.9375 6.89035 9.0231 6.73798 9.17548C6.5856 9.32785 6.5 9.53451 6.5 9.75C6.5 9.96549 6.5856 10.1722 6.73798 10.3245C6.89035 10.4769 7.09701 10.5625 7.3125 10.5625H16.7263L14.0502 13.2377C13.8977 13.3901 13.812 13.5969 13.812 13.8125C13.812 14.0281 13.8977 14.2349 14.0502 14.3873C14.2026 14.5398 14.4094 14.6255 14.625 14.6255C14.8406 14.6255 15.0474 14.5398 15.1998 14.3873L19.2623 10.3248C19.3379 10.2494 19.3978 10.1598 19.4387 10.0611C19.4796 9.9625 19.5006 9.85678 19.5006 9.75C19.5006 9.64322 19.4796 9.5375 19.4387 9.43886C19.3978 9.34023 19.3379 9.25062 19.2623 9.17516Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Log out</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /section-menu-left -->
                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">
                                <a href="/dashboard">
                                    <img style="width: 50px;" id="logo_header_mobile" alt="" src="img/transha/logo.png"
                                        data-light="img/transha/logo.png" data-dark="img/transha/logo.png">
                                </a>
                                <div class="button-show-hide">
                                    <i class="icon-chevron-left"></i>
                                </div>

                            </div>
                            <div class="header-grid">
                                <div class="header-item button-dark-light">
                                    <i class="icon-moon"></i>
                                </div>


                                <div class="header-item button-zoom-maximize">
                                    <div class="">
                                        <i class="icon-maximize"></i>
                                    </div>
                                </div>
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="image">
                                                    <img src="admin-images/avatar/user-1.png" alt="">
                                                </span>
                                                <span class="flex flex-column">
                                                    <span class="body-text text-main-dark">Transha Stayss</span>
                                                    <span class="text-tiny">Admin</span>
                                                </span>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end has-content"
                                            aria-labelledby="dropdownMenuButton3">

                                            <li>
                                                <a href="#" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-headphones"></i>
                                                    </div>
                                                    <div class="body-title-2">Support</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/logout" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-log-out"></i>
                                                    </div>
                                                    <div class="body-title-2">Log out</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <div class="main-content">
                      <!-- main-content-wrap -->
                      <div class="main-content-inner">
                        <div class="main-content-wrap">

                          <div class="d-flex justify-content-center align-items-center my-4">
                            <button 
                              class="btn btn-primary mx-2" 
                              id="btn-resort-bookings" 
                              style="min-width:150px;border-radius:25px;"
                              onclick="showBookingsTab('resort')">
                              Resort Bookings
                            </button>
                            <button 
                              class="btn btn-outline-primary mx-2" 
                              id="btn-pg-bookings" 
                              style="min-width:150px;border-radius:25px;"
                              onclick="showBookingsTab('pg')">
                              PG Bookings
                            </button>
                          </div>

                          <!-- Resort Bookings Filters and Pagination -->
                          <div id="resort-bookings-section">
                            <h3>Resort Bookings</h3>
                            <form class="row g-2 align-items-center mb-3" id="resort-filter-form" action="/admin-booking" method="get" style="flex-wrap:wrap;">
                              <div class="col-auto">
                                <label for="bookingStatus" class="fw-bold mb-0">Status</label>
                                <select id="bookingStatus" name="status" class="form-select form-select-sm ms-2" onchange="document.getElementById('resort-filter-form').submit()" style="min-width:135px;display:inline-block;">
                                  <option value="">All Statuses</option>
                                  <option value="Pending" <%= bookingStatusFilter==='Pending'?'selected':'' %>>Pending</option>
                                  <option value="Confirmed" <%= bookingStatusFilter==='Confirmed'?'selected':'' %>>Confirmed</option>
                                  <option value="CheckedIn" <%= bookingStatusFilter==='CheckedIn'?'selected':'' %>>CheckedIn</option>
                                  <option value="CheckedOut" <%= bookingStatusFilter==='CheckedOut'?'selected':'' %>>CheckedOut</option>
                                  <option value="Cancelled" <%= bookingStatusFilter==='Cancelled'?'selected':'' %>>Cancelled</option>
                                </select>
                              </div>
                              <input type="hidden" name="page" value="<%= resortBookingsPage %>"/>
                              <input type="hidden" name="limit" value="<%= resortBookingsLimit %>"/>
                              <div class="col-auto ms-auto d-none d-sm-block">
                                <span class="text-muted small">Total: <%= resortBookingsTotal %></span>
                              </div>
                            </form>

                            <div class="row g-4" style="margin-top:10px;">
                              <% if (resortBookings.length === 0) { %>
                                <div class="col-12">
                                  <div class="alert alert-info text-center">No resort bookings to display.</div>
                                </div>
                              <% } %>
                              <% resortBookings.forEach(rb => { %>
                                <div class="col-12 col-md-6 col-lg-4">
                                  <div class="card shadow border-0 h-100" style="border-radius:18px;background:#fafbfc;">
                                    <div class="card-header pb-1 d-flex align-items-center" style="border-top-left-radius:18px;border-top-right-radius:18px;background:#34568B;color:#fff;">
                                      <div>
                                        <strong>
                                          <i class="ti-home"></i> 
                                          <%= rb.property && rb.property.name ? rb.property.name : '' %>
                                        </strong>
                                      </div>
                                      <div class="ms-auto">
                                        <span class="badge 
                                          <%= rb.bookingStatus==='Confirmed' ? 'bg-success' :
                                              rb.bookingStatus==='Pending' ? 'bg-warning text-dark' :
                                              rb.bookingStatus==='Cancelled' ? 'bg-danger' :
                                              rb.bookingStatus==='CheckedIn' ? 'bg-info text-dark' :
                                              rb.bookingStatus==='CheckedOut' ? 'bg-secondary' : 'bg-light text-dark' %>">
                                          <%= rb.bookingStatus %>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="card-body py-3">
                                      <div class="mb-2">
                                        <strong>Room:</strong> <%= rb.room && rb.room.roomNumber ? rb.room.roomNumber : '' %>
                                        <% if(rb.room && rb.room.roomType){ %>
                                          <span class="badge bg-light text-dark ms-2"><%= rb.room.roomType %></span>
                                        <% } %>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Guest:</strong> <i class="ti-user"></i> <%= rb.fullName %>
                                        <br>
                                        <% if (rb.email) { %>
                                          <span class="text-muted"><i class="ti-email"></i> <%= rb.email %></span>
                                          <br>
                                        <% } %>
                                        <span class="text-muted"><i class="ti-mobile"></i> <%= rb.phone %></span>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Guests:</strong>
                                        <%= typeof rb.guests !== "undefined" && rb.guests !== null ? rb.guests : '-' %>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Check-In:</strong> <%= rb.checkInDate ? rb.checkInDate.toLocaleString() : '-' %><br>
                                        <strong>Check-Out:</strong> <%= rb.checkOutDate ? rb.checkOutDate.toLocaleString() : '-' %>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Total Amount:</strong>
                                        <span class="badge bg-primary" style="font-size:1em;">
                                          <%= (typeof rb.totalAmount !== "undefined" && rb.totalAmount !== null) ? '₹' + rb.totalAmount : '-' %>
                                        </span>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Payment:</strong>
                                        <span class="badge
                                            <%= rb.paymentStatus==='Paid' ? 'bg-success' :
                                                rb.paymentStatus==='Pending' ? 'bg-warning text-dark' :
                                                rb.paymentStatus==='Refunded' ? 'bg-info text-dark' : 'bg-light text-dark' %>">
                                          <%= rb.paymentStatus %>
                                        </span>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Requests:</strong>
                                        <span><%= rb.specialRequests ? rb.specialRequests : '-' %></span>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Created:</strong>
                                        <span class="text-muted"><%= rb.createdAt ? rb.createdAt.toLocaleString() : '-' %></span>
                                        <br>
                                        <strong>Last Update:</strong>
                                        <span class="text-muted"><%= rb.updatedAt ? rb.updatedAt.toLocaleString() : '-' %></span>
                                      </div>
                                    </div>
                                    <div class="card-footer bg-light pt-2 pb-2" style="border-bottom-left-radius:18px;border-bottom-right-radius:18px;">
                                      <div>
                                        <label for="status-<%= rb._id %>" class="pe-2 fw-bold" style="font-size:0.98em;">Change Status:</label>
                                      </div>
                                      <div style="min-width:130px; display: flex; gap: 8px; align-items: center;">
                                        <select id="status-<%= rb._id %>" class="form-select form-select-sm"
                                          style="min-width:110px;display:inline-block;"
                                          onchange="document.getElementById('save-status-btn-<%= rb._id %>').disabled = false;">
                                          <option value="Pending" <%= rb.bookingStatus==='Pending'?'selected':'' %>>Pending</option>
                                          <option value="Confirmed" <%= rb.bookingStatus==='Confirmed'?'selected':'' %>>Confirmed</option>
                                          <option value="CheckedIn" <%= rb.bookingStatus==='CheckedIn'?'selected':'' %>>CheckedIn</option>
                                          <option value="CheckedOut" <%= rb.bookingStatus==='CheckedOut'?'selected':'' %>>CheckedOut</option>
                                          <option value="Cancelled" <%= rb.bookingStatus==='Cancelled'?'selected':'' %>>Cancelled</option>
                                        </select>
                                      </div>
                                      <!-- update/delete buttons row -->
                                      <div class="mt-2 d-flex justify-content-between" style="gap:8px;">
                                        <button id="save-status-btn-<%= rb._id %>"
                                          class="btn btn-sm btn-success"
                                          type="button"
                                          style="border-radius:18px;padding:3px 14px;font-size:0.98em;flex:1;"
                                          onclick="updateResortStatus('<%= rb._id %>')"
                                          disabled
                                        >Update</button>
                                        <button
                                          id="delete-booking-btn-<%= rb._id %>"
                                          class="btn btn-sm btn-danger"
                                          type="button"
                                          style="border-radius:18px;padding:3px 14px;font-size:0.98em;flex:1;"
                                          onclick="deleteResortBooking('<%= rb._id %>')"
                                          title="Delete this booking"
                                        >
                                          <i class="ti-trash"></i> Delete
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <% }) %>
                            </div>
                            <!-- Resort Bookings Pagination -->
                            <% if (resortBookingsPages > 1) { %>
                            <nav aria-label="Resort pagination" class="mt-4">
                              <ul class="pagination justify-content-center">
                                <% let qs = `status=${encodeURIComponent(bookingStatusFilter || '')}&limit=${resortBookingsLimit}`; %>
                                <li class="page-item <%= resortBookingsPage === 1 ? 'disabled' : '' %>">
                                  <a class="page-link" href="?<%= qs %>&page=1">First</a>
                                </li>
                                <li class="page-item <%= resortBookingsPage === 1 ? 'disabled' : '' %>">
                                  <a class="page-link" href="?<%= qs %>&page=<%= resortBookingsPage - 1 %>">&laquo;</a>
                                </li>
                                <% 
                                    // Show up to 5 numeric pages, centered around current
                                    let from = Math.max(1, resortBookingsPage - 2);
                                    let to = Math.min(resortBookingsPages, from + 4);
                                    from = Math.max(1, to - 4);
                                    for (let i = from; i <= to; i++) { 
                                %>
                                  <li class="page-item <%= resortBookingsPage === i ? 'active' : '' %>">
                                    <a class="page-link" href="?<%= qs %>&page=<%= i %>"><%= i %></a>
                                  </li>
                                <% } %>
                                <li class="page-item <%= resortBookingsPage === resortBookingsPages ? 'disabled' : '' %>">
                                  <a class="page-link" href="?<%= qs %>&page=<%= resortBookingsPage + 1 %>">&raquo;</a>
                                </li>
                                <li class="page-item <%= resortBookingsPage === resortBookingsPages ? 'disabled' : '' %>">
                                  <a class="page-link" href="?<%= qs %>&page=<%= resortBookingsPages %>">Last</a>
                                </li>
                              </ul>
                            </nav>
                            <% } %>
                          </div>

                          <!-- PG Bookings - CARD VIEW (Now with Update/Delete functionality) -->
                          <div id="pg-bookings-section" style="display:none;">
                            <h3>PG Bookings</h3>
                            <div class="row g-4" style="margin-top:10px;">
                              <% if (pgBookings.length === 0) { %>
                                <div class="col-12">
                                  <div class="alert alert-info text-center">No PG bookings to display.</div>
                                </div>
                              <% } %>
                              <% pgBookings.forEach(booking => { %>
                                <div class="col-12 col-md-6 col-lg-4">
                                  <div class="card shadow border-0 h-100" style="border-radius:18px;background:#fafbfc;">
                                    <div class="card-header pb-1 d-flex align-items-center" style="border-top-left-radius:18px;border-top-right-radius:18px;background:#446B2F;color:#fff;">
                                      <div>
                                        <strong>
                                          <i class="ti-home"></i>
                                          <%= booking.property && (booking.property.name || booking.property.propertyName) 
                                                ? (booking.property.name || booking.property.propertyName) 
                                                : '-' %>
                                        </strong>
                                      </div>
                                      <div class="ms-auto">
                                        <% 
                                          let statusBadge = '';
                                          let bookingStatus = booking.bookingStatus || 'Confirmed';
                                          if (bookingStatus === 'Confirmed') { 
                                            statusBadge = 'bg-success';
                                          } else if (bookingStatus === 'Completed') {
                                            statusBadge = 'bg-secondary';
                                          } else if (bookingStatus === 'Cancelled') {
                                            statusBadge = 'bg-danger';
                                          } else {
                                            statusBadge = 'bg-light text-dark';
                                          }
                                        %>
                                        <span class="badge <%= statusBadge %>">
                                          <%= bookingStatus %>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="card-body py-3">

                                      <div class="mb-2">
                                        <strong>Property:</strong>
                                        <span>
                                          <%= booking.property && (booking.property.name || booking.property.propertyName) 
                                                ? (booking.property.name || booking.property.propertyName) 
                                                : '-' %>
                                        </span>
                                      </div>

                                      <div class="mb-2">
                                        <strong>Room:</strong>
                                        <span>
                                          <% if (booking.room && (booking.room.roomNumber || booking.room.name)) { %>
                                            <%= booking.room.roomNumber || booking.room.name %>
                                          <% } else if (booking.room && typeof booking.room === 'string') { %>
                                            <%= booking.room %>
                                          <% } else { %>
                                            -
                                          <% } %>
                                        </span>
                                      </div>

                                      <div class="mb-2">
                                        <strong>Bed:</strong>
                                        <span>
                                          <% if (booking.bed && (booking.bed.bedNumber || booking.bed.name)) { %>
                                            <%= booking.bed.bedNumber || booking.bed.name %>
                                          <% } else if (booking.bed && typeof booking.bed === 'string') { %>
                                            <%= booking.bed %>
                                          <% } else { %>
                                            -
                                          <% } %>
                                        </span>
                                      </div>

                                      <div class="mb-2">
                                        <strong>Guest Name:</strong>
                                        <i class="ti-user"></i>
                                        <%= booking.name || '-' %>
                                      </div>

                                      <div class="mb-2">
                                        <strong>Phone:</strong>
                                        <i class="ti-mobile"></i>
                                        <%= booking.phone || '-' %>
                                      </div>

                                      <% if (booking.email) { %>
                                      <div class="mb-2">
                                        <strong>Email:</strong>
                                        <i class="ti-email"></i>
                                        <%= booking.email %>
                                      </div>
                                      <% } %>

                                      <div class="mb-2">
                                        <strong>Check-In:</strong>
                                        <%= booking.checkInDate ? (new Date(booking.checkInDate)).toLocaleString() : '-' %>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Check-Out:</strong>
                                        <%= booking.checkOutDate ? (new Date(booking.checkOutDate)).toLocaleString() : '-' %>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Total Rent:</strong>
                                        <% if (typeof booking.totalRent !== "undefined" && booking.totalRent !== null) { %>
                                          <span class="badge bg-primary" style="font-size:1em;">₹<%= booking.totalRent %></span>
                                        <% } else { %>
                                          -
                                        <% } %>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Advance Amount:</strong>
                                        <% let adv = booking.advanceAmount; %>
                                        <span class="badge bg-info text-dark" style="font-size:1em;">
                                          ₹<%= (typeof adv !== "undefined" && adv !== null ? adv : 0) %>
                                        </span>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Payment Status:</strong>
                                        <span><%= booking.paymentStatus || '-' %></span>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Booking Status:</strong>
                                        <span><%= booking.bookingStatus || '-' %></span>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Created:</strong>
                                        <span class="text-muted"><%= booking.createdAt ? (new Date(booking.createdAt)).toLocaleString() : '-' %></span>
                                      </div>
                                      <div class="mb-2">
                                        <strong>Last Update:</strong>
                                        <span class="text-muted"><%= booking.updatedAt ? (new Date(booking.updatedAt)).toLocaleString() : '-' %></span>
                                      </div>
                                    </div>
                                    <div class="card-footer bg-light pt-2 pb-2" style="border-bottom-left-radius:18px;border-bottom-right-radius:18px;">
                                      <div>
                                        <label for="pg-status-<%= booking._id %>" class="pe-2 fw-bold" style="font-size:0.98em;">Change Status:</label>
                                      </div>
                                      <div style="min-width:130px; display: flex; gap: 8px; align-items: center;">
                                        <% 
                                          // Status select uses backend allowed values: Confirmed, Completed, Cancelled
                                          const statusVal = booking.bookingStatus || 'Confirmed';
                                        %>
                                        <select id="pg-status-<%= booking._id %>" class="form-select form-select-sm"
                                          style="min-width:110px;display:inline-block;"
                                          onchange="enablePgUpdateButton('<%= booking._id %>')">
                                          <option value="Confirmed" <%= (statusVal==='Confirmed') ? 'selected' : '' %>>Confirmed</option>
                                          <option value="Completed" <%= statusVal==='Completed'?'selected':'' %>>Completed</option>
                                          <option value="Cancelled" <%= statusVal==='Cancelled'?'selected':'' %>>Cancelled</option>
                                        </select>
                                      </div>
                                      <div class="mt-2 d-flex justify-content-between" style="gap:8px;">
                                        <button id="pg-save-status-btn-<%= booking._id %>"
                                          class="btn btn-sm btn-success"
                                          type="button"
                                          style="border-radius:18px;padding:3px 14px;font-size:0.98em;flex:1;"
                                          onclick="updatePgStatus('<%= booking._id %>')"
                                          disabled
                                        >Update</button>
                                        <button
                                          id="pg-delete-booking-btn-<%= booking._id %>"
                                          class="btn btn-sm btn-danger"
                                          type="button"
                                          style="border-radius:18px;padding:3px 14px;font-size:0.98em;flex:1;"
                                          onclick="deletePgBooking('<%= booking._id %>')"
                                          title="Delete this booking"
                                        >
                                          <i class="ti-trash"></i> Delete
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <% }) %>
                            </div>
                          </div>

                        </div>
                        <!-- /main-content-wrap -->
                      </div>
                      <script>
                        async function updateResortStatus(bookingId) {
                          const select = document.getElementById('status-' + bookingId);
                          const status = select.value;
                          const button = document.getElementById('save-status-btn-' + bookingId);
                          button.disabled = true;
                          button.innerText = "Updating...";

                          // Client-side allowed statuses for validation
                          const allowedStatuses = ['Pending', 'Confirmed', 'CheckedIn', 'CheckedOut', 'Cancelled'];
                          if (!allowedStatuses.includes(status)) {
                            alert('Invalid booking status selected.');
                            button.classList.remove('btn-success');
                            button.classList.add('btn-danger');
                            button.innerText = "Failed";
                            setTimeout(() => {
                              button.innerText = "Update";
                              button.disabled = false;
                            }, 1500);
                            return;
                          }

                          try {
                            const res = await fetch('/resort/update-status', {
                              method: 'POST',
                              headers: { 'Content-Type': 'application/json' },
                              body: JSON.stringify({ bookingId, bookingStatus: status })
                            });
                            const data = await res.json();

                            if (data.success) {
                              button.classList.remove('btn-danger');
                              button.classList.add('btn-success');
                              button.innerText = "Updated";
                              setTimeout(() => {
                                button.innerText = "Update";
                                button.disabled = true;
                              }, 1200);

                              // Optionally update badge in UI without reload (if status changed)
                              // Find parent .card-header and update badge class/text
                              const cardHeader = button.closest('.card').querySelector('.card-header .badge');
                              if (cardHeader) {
                                // Map status to badge classes
                                const badgeMap = {
                                  'Confirmed': 'bg-success',
                                  'Pending': 'bg-warning text-dark',
                                  'Cancelled': 'bg-danger',
                                  'CheckedIn': 'bg-info text-dark',
                                  'CheckedOut': 'bg-secondary'
                                };
                                cardHeader.className = 'badge ' + (badgeMap[status] || 'bg-light text-dark');
                                cardHeader.textContent = status;
                              }
                            } else {
                              alert("Update failed: " + (data.message || "Unknown error"));
                              button.classList.remove('btn-success');
                              button.classList.add('btn-danger');
                              button.innerText = "Failed";
                              setTimeout(() => {
                                button.innerText = "Update";
                                button.disabled = false;
                              }, 1500);
                            }
                          } catch (err) {
                            alert("Something went wrong updating status.");
                            button.classList.remove('btn-success');
                            button.classList.add('btn-danger');
                            button.innerText = "Failed";
                            setTimeout(() => {
                              button.innerText = "Update";
                              button.disabled = false;
                            }, 1500);
                          }
                        }
                        async function deleteResortBooking(bookingId) {
                          if(!confirm("Are you sure you want to delete this booking? This action cannot be undone.")) return;

                          var btn = document.getElementById('delete-booking-btn-' + bookingId);
                          btn.disabled = true;
                          btn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Delete';
                          try {
                            const res = await fetch(`/resort/deleteResortbooking/${bookingId}`, {
                              method: 'DELETE',
                              headers: { 'Content-Type': 'application/json' }
                            });
                            const data = await res.json();

                            if (data.success) {
                              // Remove the entire card after short delay
                              const card = btn.closest('.card');
                              card.style.opacity = 0.7;
                              setTimeout(() => {
                                card.parentNode.removeChild(card);
                              }, 500);
                            } else {
                              alert("Delete failed: " + (data.message || "Unknown error"));
                              btn.disabled = false;
                              btn.innerHTML = '<i class="ti-trash"></i> Delete';
                            }
                          } catch (err) {
                            alert("Something went wrong deleting booking.");
                            btn.disabled = false;
                            btn.innerHTML = '<i class="ti-trash"></i> Delete';
                          }
                        }

                        // PG: Delete booking function
                        async function deletePgBooking(pgBookingId) {
                          if(!confirm("Are you sure you want to delete this PG booking? This action cannot be undone.")) return;

                          var btn = document.getElementById('pg-delete-booking-btn-' + pgBookingId);
                          btn.disabled = true;
                          btn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Delete';
                          try {
                            // Use correct backend route as per file_context_0: /PgDeletebooking/:id
                            const res = await fetch(`/PgDeletebooking/${pgBookingId}`, {
                              method: 'DELETE',
                              headers: { 'Content-Type': 'application/json' }
                            });
                            const data = await res.json();

                            if (data.success) {
                              // Remove the entire card after short delay
                              const card = btn.closest('.card');
                              card.style.opacity = 0.7;
                              setTimeout(() => {
                                card.parentNode.removeChild(card);
                              }, 500);
                            } else {
                              alert("Delete failed: " + (data.message || "Unknown error"));
                              btn.disabled = false;
                              btn.innerHTML = '<i class="ti-trash"></i> Delete';
                            }
                          } catch (err) {
                            alert("Something went wrong deleting booking.");
                            btn.disabled = false;
                            btn.innerHTML = '<i class="ti-trash"></i> Delete';
                          }
                        }

                        // Enable update button when select input changes (Resort & PG)
                        document.addEventListener("DOMContentLoaded", function() {
                          document.querySelectorAll("select[id^='status-']").forEach(function(sel){
                            sel.addEventListener('change', function(e){
                              const bookingId = this.id.replace('status-','');
                              document.getElementById('save-status-btn-'+bookingId).disabled = false;
                            });
                          });
                          // Enable update button when select changes for PG
                          document.querySelectorAll("select[id^='pg-status-']").forEach(function(sel){
                            sel.addEventListener('change', function(e){
                              const bookingId = this.id.replace('pg-status-','');
                              document.getElementById('pg-save-status-btn-'+bookingId).disabled = false;
                            });
                          });
                        });

                        // Helper to enable pg update button
                        function enablePgUpdateButton(pgBookingId) {
                          document.getElementById('pg-save-status-btn-'+pgBookingId).disabled = false;
                        }

                        // Add showBookingsTab function to toggle between the tabs
                        function showBookingsTab(tab) {
                          var resortSection = document.getElementById('resort-bookings-section');
                          var pgSection = document.getElementById('pg-bookings-section');
                          var resortBtn = document.getElementById('btn-resort-bookings');
                          var pgBtn = document.getElementById('btn-pg-bookings');
                          if (tab === 'resort') {
                            resortSection.style.display = '';
                            pgSection.style.display = 'none';
                            resortBtn.classList.add('btn-primary');
                            resortBtn.classList.remove('btn-outline-primary');
                            pgBtn.classList.remove('btn-primary');
                            pgBtn.classList.add('btn-outline-primary');
                          } else if (tab === 'pg') {
                            resortSection.style.display = 'none';
                            pgSection.style.display = '';
                            resortBtn.classList.remove('btn-primary');
                            resortBtn.classList.add('btn-outline-primary');
                            pgBtn.classList.add('btn-primary');
                            pgBtn.classList.remove('btn-outline-primary');
                          }
                        }

                        // PG status update logic
                        async function updatePgStatus(pgBookingId) {
                          const select = document.getElementById('pg-status-' + pgBookingId);
                          const status = select.value;
                          const button = document.getElementById('pg-save-status-btn-' + pgBookingId);
                          button.disabled = true;
                          button.innerText = "Updating...";

                          // Allowed backend statuses: ['Confirmed', 'Cancelled', 'Completed']
                          // We map frontend options to backend values; treat 'Active' as 'Confirmed'
                          let backendStatus = status;
                          if (status === 'Active') {
                            backendStatus = 'Confirmed';
                          } else if (status === 'Completed') {
                            backendStatus = 'Completed';
                          } else if (status === 'Cancelled') {
                            backendStatus = 'Cancelled';
                          } else {
                            backendStatus = null;
                          }

                          const allowedStatuses = ['Confirmed', 'Completed', 'Cancelled'];
                          if (!backendStatus || !allowedStatuses.includes(backendStatus)) {
                            alert('Invalid booking status selected.');
                            button.classList.remove('btn-success');
                            button.classList.add('btn-danger');
                            button.innerText = "Failed";
                            setTimeout(() => {
                              button.innerText = "Update";
                              button.disabled = false;
                            }, 1500);
                            return;
                          }

                          try {
                            const res = await fetch(`/Pgbooking/${pgBookingId}/status`, {
                              method: 'PUT',
                              headers: { 'Content-Type': 'application/json' },
                              body: JSON.stringify({ bookingStatus: backendStatus })
                            });
                            const data = await res.json();

                            if (data.success) {
                              button.classList.remove('btn-danger');
                              button.classList.add('btn-success');
                              button.innerText = "Updated";
                              setTimeout(() => {
                                button.innerText = "Update";
                                button.disabled = true;
                              }, 1200);

                              // Optionally update badge in UI for user feedback
                              const card = button.closest('.card');
                              const badge = card.querySelector('.card-header .badge');
                              if (badge) {
                                // Map backend to frontend label and color
                                const badgeMap = {
                                  'Confirmed': { text: 'Active', class: 'bg-success' },
                                  'Completed': { text: 'Completed', class: 'bg-secondary' },
                                  'Cancelled': { text: 'Cancelled', class: 'bg-danger' },
                                };
                                const badgeInfo = badgeMap[backendStatus] || { text: backendStatus, class: 'bg-light text-dark' };
                                badge.className = 'badge ' + badgeInfo.class;
                                badge.textContent = badgeInfo.text;
                              }
                            } else {
                              alert("Update failed: " + (data.message || "Unknown error"));
                              button.classList.remove('btn-success');
                              button.classList.add('btn-danger');
                              button.innerText = "Failed";
                              setTimeout(() => {
                                button.innerText = "Update";
                                button.disabled = false;
                              }, 1500);
                            }
                          } catch (err) {
                            alert("Something went wrong updating status.");
                            button.classList.remove('btn-success');
                            button.classList.add('btn-danger');
                            button.innerText = "Failed";
                            setTimeout(() => {
                              button.innerText = "Update";
                              button.disabled = false;
                            }, 1500);
                          }
                        }
                      </script>
                      <!-- /main-content-inner -->

                      <!-- bottom-page -->
                      <div class="bottom-page">
                        <div class="body-text">Copyright © 2025 <a href="">Transha Stayss</a>. Design by Trivlogic Private Limited. All rights reserved</div>
                      </div>
                      <!-- /bottom-page -->
                    </div>
                 
                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->
 
    <!-- Javascript -->
    <script src="admin-js/jquery.min.js"></script>
    <script src="admin-js/bootstrap.min.js"></script>
    <script src="admin-js/bootstrap-select.min.js"></script>
    <script src="admin-js/zoom.js"></script>
    <script src="admin-js/switcher.js"></script>
    <script defer src="admin-js/theme-settings.js"></script>
    <script defer src="admin-js/main.js"></script>

</body>

</html>